body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

.container {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
}

.blocks-wrapper {
    background: url(../image/winter-7719701_1920.jpg) 5% 50%no-repeat;
}


.header-item {
    padding-bottom: 40px;
}


.header-item h1 {
    color: rgb(7, 114, 114);
    font-family: 'Dancing Script', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    padding: 20px;
}


img {
    width: 300px;
    margin: auto;
    border: 2px solid rgb(6, 97, 97);
    border-radius: 15px;
    display: block;

}

.text-block {
    background: url(../image/lines-6975227_1920.jpg) 76% 4% no-repeat;

}

.text p {
    padding: 20px;
    font-size: 30px;
    line-height: 50px;
    color: #36123f;
    text-align: center;

}

.text span {
    font-size: 35px;
}

.wrapper {
    background: url(../image/clouds-7728399_1920.jpg) no-repeat;
}


.main {
    padding-bottom: 40px;
}

.main h2 {
    font-family: 'Dancing Script', cursive;
    font-style: normal;
    font-weight: 400;
    color: #717171;
    font-size: 40px;
    padding: 10px;
    text-align: center;
}

.main span {
    color: #a4330d;
    font-size: 50px;
    border: 3px solid #0b0a0a;
    border-radius: 50%;
    padding: 0 13px;
    margin: 100px;
}

.futter {
    background: url(../image/monstera-7205622_1920.jpg) 91% 10% no-repeat;
    padding-bottom: 25px;
}

.futter-info h4 {
    font-family: 'Dancing Script',
        cursive;
    font-style: normal;
    font-weight: bold;
    color: rgb(69, 64, 64);
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

.futter-item {
    padding-left: 15px;
    font-weight: bold;
    font-size: 23px;
    line-height: 40px;
    color: rgb(69, 64, 64);

}

.futter-item span {
    color: rgb(114, 57, 124);
}

.futter-item-kz span {
    color: rgb(114, 57, 124);
}

.info {
    background: url(../image/clouds-7728399_1920.jpg) 100% 10% no-repeat;
}

.info-item {
    padding: 20px;
}

.info-item h2 {
    color: #555454;
    text-align: center;
    font-weight: bold;
    font-family: 'Dancing Script',
        cursive;
    font-size: 25px;
    padding-bottom: 15px;
}